<html>

<head>
    <title>Verification Mail</title>
    <style>
        body {
            background-color: #d2d89c;
        }
    </style>
</head>

<body>

    <h4>This is the mail to provide u with the testlink and your login details. Your login details are as given below :
    </h4>
    <p>Email : <%= email %>
            <br>
            Password : <%= password %>
                <br>
                Test Name : <%= testname %>
                    <br>
                    Start Date & Time : <%=startdate%>
                        <br>
                        End Date & Time : <%=enddate%>
                            <br>
                            Test Time Duration : <%=test_timing%> min.
    </p>

    <h4>Your online test link is below :
    </h4>

</body>

</html>